omegaconf==2.0.6
torchvision==0.9.1
rouge_score
scikit_image==0.18.2
scikit-learn==0.24.2
pydicom==2.2.0
transformers==4.5.1
seaborn==0.11.1
gdown==3.13.1
dalle-pytorch==1.0.8
torchxrayvision==0.0.32
torch==1.8.1
pytorch-lightning==1.4.2
torchmetrics==0.5.0
pytorch-metric-learning==0.9.99
pycocotools==2.0.2
torch-optimizer==0.1.0
umap-learn==0.5.2
opencv-python==4.5.4.60
